[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
[submodule "external/rlImGui"]
	path = external/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "external/kissfft"]
	path = external/kissfft
	url = https://github.com/mborgerding/kissfft.git
